[2012-05-29 15:43] fernandofederico1984 opened #6 "Run single test from maven"
I want to be able to run a test from maven (not a suite), just the test....

[2013-11-15 22:39] lorochka opened #51 "How to set properties to a message?"
Hey, guys!

I need my message not only have payload, but some properties too.

How to do it?

Thanks,
Laura.

[2014-05-31 07:04] vikramuppala opened #108 "Munit Issue with IP filters"
Hi,

Currently I am trying to do mock on IP filter in my mule flow. I am sucessfully able to mock the IP filter message processor but the flow is not excuting to next message processor.

And also I tired with unmocking the ip filter and tested the flow from munit the flow is getting stopped at ip filter and returning "{Nullpayload}" as response.

Syntax used to mock is:
	whenMessageProcessor("filt

[2014-09-24 18:24] ArunRahul opened #129 "Transformer resolver exception while using xpath"
I am having the following flow structure

    <flow name="myflow">
           <http:inbound-endpoint host="localhost" port="8878" path="myinbound" />
           <logger level="INFO" message="#[xpath://firstNumber]" />
           ............ other stuff......
    </flow>

I am getting error when I run this flow from munit saying 'There are two transformers that are exact match'. But the flow is ru

[2014-12-02 16:58] jasonchw opened #141 "Cannot process event as "jdbcConnector" is stopped"
I was trying to test a flow with JDBC outbound endpoint in Studio, but got error "Cannot process event as "jdbcConnector" is stopped".

The following is the mule config,
[code]

The JavaTest class,
[code]

And the error message from Studio,
[code]

[2014-12-19 14:26] jasonchw opened #143 "Java component with @OutboundHeaders, @Payload throwing NPE"
Hi there,

The method parameters are annotated with @OutboundHeaders, @Payload,
[code]

when running the munit test, I got,
[code]

Thanks,
Jason

[2014-12-22 19:14] FutureStrength870 opened #144 "MUnit 3.5-M2 Unable to Mock Flows"
@fernandofederico1984, I am using MUnit on the system with the below specs. For some reason, my tests cannot successfully mock my flows when I run the test suite even after I followed your example in mockingFlowsTest: "https://github.com/mulesoft/munit/blob/munit-3.5.x/munit-integration-tests/src/test/munit/mp-mocking-test.xml#L320". However, what is odd is that your tests can successfully mock th

[2015-01-02 13:38] damiansima commented on #141
Hi @jasonchw
Sorry for the delay I forgot about this.
Here is an example on how to mock a JDBC outbound endpoint in java. Bear in mind that MUNIT has to be set to work in its default parameters, that is, mocking connectors and endpoints.
Please also notice this applies fro the origin JDBC transport.

Your **production-code**
[code]

Your Java **test-code**
[code]

Let me know if it helps ;)

Cheer

[2015-01-02 13:47] #143 closed

[2015-01-02 13:48] #144 closed

[2015-01-02 13:49] #129 closed

[2015-01-02 17:04] singirp opened #147 "Munit test runs fine in Studio but fails via Maven"
Hi,
I have a simple munit test for a SOAP flow to send a request and assert the response. While this test runs fine in Anypoint studio, it throws an error when using Maven.
[code]
********************************************************************************
Message               : There are two transformers that are an exact match for input: "class java.lang.String", output: "class java.io.Inpu

[2015-01-02 17:16] singirp commented on #147
Here is the sample code..
[code]

[2015-01-02 17:54] damiansima commented on #147
Hi @singirp what Munit version are you using?

[2015-01-02 20:37] damiansima commented on #6
The feature has been added to 3.6.x

You can now run a single test/s by appending:

#regEx to the munit.test property in maven.

Usage -Dmunit.test=[file-regex]#[test-name-regex]

[2015-01-02 20:37] #6 closed

[2015-01-03 12:17] singirp commented on #147
Hi @damiansima
Thanks a lot, the tests ran fine with 3.5-M3-SNAPSHOT

[2015-01-03 12:17] #147 closed

[2015-01-05 05:36] rafiqinvenio opened #148 "OOM during maven build"
Hi Fernando,

I see "java.lang.OutOfMemoryError: Java heap space (org.mule.api.lifecycle.InitialisationException)"
exception during maven build. This issue is only when the project has a simple test case using "3.5-M2" version of MUnit.

An environment MAVEN_OPTS with -Xms128m -Xmx2024m -XX:PermSize=128m -XX:MaxPermSize=2048m is defined (My system has 8GM of RAM though)

I have tried increasing he

[2015-01-05 05:38] rafiqinvenio commented on #148
FYI,
Error I see in the console

[ERROR] Failed to execute goal org.mule.munit.tools:munit-maven-plugin:3.5-M2:test (test) on project schema-val: Execution test of goal org.mule.munit.tools:munit-maven-plugin:3.5-M2:test failed: org.mule.api.config.ConfigurationException: Error creating bean with name 'test-schema-validation-filterFlow1': Cannot create inner bean '(inner bean)' of type [org.mule.r

[2015-01-05 14:14] damiansima commented on #148
Hi @rafiqinvenio,

Worst case scenario you should have your MAVEN_OPTS env var set to:
[code]
On the other hand, I'm not quite sure you can set MAVEN_OPTS as a -D property from the command line. Take a look at these links on how to do that properly on windows:
* http://stackoverflow.com/questions/2819853/setting-java-heap-space-under-maven-2-on-windows
* https://cwiki.apache.org/confluence/display

[2015-01-05 14:46] rafiqinvenio commented on #148
Thanks for the reply @damiansima

Increasing the PermSize didn't helped me with the fix.

But the below solution helped me !!

Solution : Modifying XSD with  maxOccurs from “99999” to “unbounded” for all applicable elements.

[2015-01-05 14:47] #148 closed

[2015-01-05 18:52] reddikumar001 opened #149 "Munit throwing exception while running via maven"
Hi,
I have a simple munit test for flow which having the batch excecute and subflows. it throws an error when running through Maven.

I am getting the following exception while running the test:

********************************************************************************
Message               : More than one object of type class org.mule.registry.TypeBasedTransformerResolver registered but on

[2015-01-06 08:58] reddikumar001 commented on #149
Please find the stack trace of the issue:

********************************************************************************
Message               : More than one object of type class org.mule.registry.TypeBasedTransformerResolver registered but only one expected.
Code                  : MULE_ERROR--2
--------------------------------------------------------------------------------
Exception stack i

[2015-01-06 15:02] jasonchw commented on #141
Hi @damiansima,

Thanks, it is really helpful.

Jason

[2015-01-06 17:16] jasonchw opened #150 "Request for example to mock ActiveMQ inbound/outbound example"
Hi there,

Do you have any example to mock ActiveMQ inbound/outbound example?

Thanks,
Jason

[2015-01-06 18:38] #141 closed

[2015-01-06 18:43] damiansima commented on #149
Hi @reddikumar001

this seems to look more like a batch thing than an Munit thing.

Could you please clear all your application data from studio?
Check out Run Configurations, General tab there is a choice for clearing application data.

Also, is the application running correctly, that is, with out Munit?

Finally, the stack trace on it's own doesn't really say much.
Could you please share your pr

[2015-01-08 12:36] sleone opened #151 "Mule patch"
Hi guys,
I'm trying to write some munit tests, but they fail because there is a bug in mule.
The mulesoft support released a patch to fix it.

what's the best way to use the patch during the maven test phase with munit?

Thanks.

[2015-01-12 20:51] damiansima commented on #151
Hi @sleone

This looks more a question for mule core but any way...
What you may be able to do is to install the patch in your local .M2 repository, like so:

Maven Install the file in the local repository:
mvn install:install-file -Dfile={patch-file-name}.jar -DgroupId=com.mule.support -Dversion=1.0 -DartifactId={patch-name} -Dpackaging=jar

Reference the library (using the information supplied i

[2015-01-12 21:19] damiansima commented on #150
Hi @jasonchw,

To mock a jms inbound is what happen by default in Munit as it mock all endpoints unless you said otherwise, this happens so your test is not affected by external inputs.

So I guess the question is how to mock a JMS outbound endpoint.
Please try this:

**Production code**:
[code]

**Test code**:
[code]

Let me know if it works.

Cheers!!!

[2015-01-13 14:47] jasonchw commented on #150
@damiansima , thank you. It works!

[2015-01-13 14:47] #150 closed

[2015-01-13 18:46] damiansima commented on #108
Hi there I will close this issue for the moment as we consider that mocking filters is not really a the way to go.

We can revisit this in the future though.

Cheers!

[2015-01-13 18:46] #108 closed

[2015-01-14 21:30] rajkumar79 opened #152 "Munit Version,Issues and Sample Code"
Whats the most stable version for MUnit.

We would like to use it for flows that call another using the below mentioned integration patters,

1.Mule Flow has Component Bindings that invoke a VM end point/
2.invoke http outbound endpoints.
invoke HTTPS calls. etc..

Are there any known issues that does not support this functionality.

[2015-01-15 00:08] rajkumar79 commented on #152
Has anyone implemented any complex Munit Which involves testing a mule applicaiton that involves a rest component, component bindings, http,https end points and JMS end points.

Would appreciate if anyone can come forward and share these learnings.

[2015-01-15 16:58] damiansima commented on #152
Hi @rajkumar79

Regarding your first question, currently the most stable version of Munit is 3.5-M3-SNAPSHOT.
It has been proveen the most and has several bug fixes.

Based on the description provided I see no problems that stop you from using Munit to do what you want to achieve.

[2015-01-15 17:44] damiansima commented on #51
Hi @lorochka

I realise that this is old but, in the last test I did Mule studio shows no schema error when using set-variable or set-property in a Munit test.

Also you can achieve the same result by doing

[code]

Could you please double check it in a newer version of Studio?
If it keeps happening please reopen this bug.

Cheers!!

[2015-01-15 17:44] #51 closed

[2015-01-15 22:52] jamesontriplett opened #153 "simple MUnit failing with a big stack trace"
I'm trying my first munit test on a reletively simple flow that implements an XML validator.  I basically copied a working Junit test and adapted it for Munit. Running MUnit 3.5-M3-SNAPSHOT

[code]

Here's the lovely stack trace.  It doesn't make any sense to me about "countryCodes"  there are no countryCodes in my application, flows, associated flows, input parameters.
[code]

[2015-01-16 02:13] damiansima commented on #153
Hi there @jamesontriplett,

I've seen this before and it's related to a bean that Munit is not being able to mock.

There may be a few reasons for that but to know for sure I need to check the application you're working on.

Would you mind sharing your application with me.

Cheers!

[2015-02-10 14:02] jpendle opened #154 "Munit issue with Mule 3.6.0 mule-module-spring-config"
When I run my Munit tests using Mule 3.6.0 dependencies, I get the following error:
[code]
If I switch to the 3.5.0 version of the `mule-module-spring-config` dependency it works fine, and I can easily do this when running my tests with Maven. However, when running them in Anypoint Studio I have to change the whole runtime version to 3.5.0 in order to run my tests.

[2015-02-11 17:39] damiansima commented on #154
Hi @jpendle

Yes you're correct.
You see Munit needs to change with each version Mule ESB. That's why we have versions for each Mule runtime.

We are currently working in the new version of Munit that will support Mule 3.6.0 but it's not quite ready yet.

I'll let you guys know when it is ready ;)

Cheers!

[2015-02-11 17:39] #154 closed

[2015-02-12 01:12] sohrab- opened #155 "3.6 Release Timeline"
Roughly how far away are we from a stable release for Mule 3.6 to be available in Mulesoft repo? It would be good if I can give my clients some idea as is it going to be weeks? months?

I am using the BETA-SNAPHSHOT at the moment. Personally not as fussed since it is used for testing only and not deployed to production.

[2015-02-12 08:35] tomwilding opened #156 "Test coverage percentage"
I am testing a flow with three components, all wrapped within an asynchronous scope. The test runs successfully and all three elements (including the asynchronous scope) are marked with green ticks, however the test coverage reports 68% (the test does not test anything other than this). My problem is why the coverage reported is not 100% as all message processors are ticked? Could it be the asynch

[2015-02-12 11:41] tomwilding commented on #156
Hi, turns out this is nothing to do with the asynchronous scope because I still get the issue when taking it out. I just created a little git project with my problem... wonder if anyone can help me!
https://github.com/tomwilding/MunitCoverageTest

[2015-02-12 11:43] tomwilding commented on #156
There is just one test suite with two test cases. Running the tests ticks all message processors (exploring all flow routes) however the test coverage is only 60%. I would expect 100% coverage, the only thing I can think is that exceptions are not covered. Any ideas?

[2015-02-12 13:34] damiansima commented on #155
Hi @sohrab-

There is yet not firm date, sorry about that.
But I would say we are in the range of months rather than weeks.

Cheers!

[2015-02-12 13:34] #155 closed

[2015-02-12 13:38] tomwilding commented on #156
![screen shot 2015-02-12 at 13 37 01](https://cloud.githubusercontent.com/assets/2557535/6168336/644a3da0-b2bc-11e4-9e14-7997a0712524.png)

[2015-02-12 13:38] tomwilding commented on #156
As you can see, the elements are all checked with green ticks but the coverage is 60.00%

[2015-02-17 10:58] jpendle opened #157 "MEL expressions evaluated twice with Munit?"
I have some Mule code which includes the following bit of MEL which grabs the next element from an Iterator and invokes some method on it:

`"#[payload.next().someMethod()]"`

This works fine using the normal Mule runtime. However, when this expression gets executed as part of an Munit test, it isn't working. I've put a breakpoint on the `next()` method and it seems it gets invoked twice during an

[2015-02-17 15:50] damiansima commented on #157
Hi @jpendle

You're correct I'll open a Jira and I'll take a look at it.

[2015-02-17 15:51] damiansima commented on #156
Hi @tomwilding

Thanks for reporting I'll take a look at it and get back to you ;)

[2015-02-20 19:55] damiansima commented on #157
Hi @jpendle

You are correct, but what you're experiencing is a side effect, please let me explain .

You see Munit provides you the ability to create mocks, spies, etc and to so by matching patterns.
That is you can, for instance, create a mock for a MP when an attribute of that MP matches a certain value, lets say you have:
[code]

You can very well create the following mock:
[code]

In this cas

[2015-02-20 19:55] #157 closed

[2015-02-21 10:08] jpendle commented on #157
Thanks @damiansima for the thorough explanation, it's good to get a better understanding of exactly what's going on :)

[2015-02-24 13:54] utsavvishnoi opened #158 "What is the exact use of Using Spy Message Processor"
Hi I have used MUnit Test Kit and curious to know about the working of Spy Message Processor.

1. What is Spy Message Processor ?
2. When to use this ?
3. Advantage of using this ?

[2015-02-24 13:56] utsavvishnoi opened #159 "What is the use of Mock"
Hi i am newbee to MUnit and just want to know that what is the use of Mock and Mock Endpoint and how to use this and when to use this?

[2015-02-25 13:34] damiansima commented on #158
Hi @utsavvishnoi

Please first check this link: https://github.com/mulesoft/munit/wiki/spy-message-processors

But in short the SPY MP allows you to run assertions over the payload and the message before it reaches the MP and after the MP is done processing.
Which is useful when you don't which to mock the MP but still run validations over the content of the message with which it will process.

[2015-02-25 13:34] #158 closed

[2015-02-25 15:01] damiansima commented on #159
Hi @utsavvishnoi

By mock I reckon you are talking about the mock MP, in that case you could check:
https://github.com/mulesoft/munit/wiki/defining-mocks

Basically a mock allows you to instead of executing the actual MP have Munit to intercept that and return a predefined payload/trhow an exception/etc.

Regarding the mock endpoints, Munit by default disable the inbound endpoint in order to stop

[2015-02-25 15:01] #159 closed

[2015-02-25 20:00] cchilukoori opened #160 "Can we mock amqp and new database connector?"
I am trying to write a unit test case for the below flow which has amqp and new database connector.
How do we nee mock these 2 connectors?

<flow name="franchiseEnrichment" doc:name="franchiseEnrichment">
		<logger message="PROCESS=FRANCHISE_ENRICHMENT, GUID=#[flowVars['guid']], FLOW=#[flow.name]" level="INFO" doc:name="Logger"/>
		<enricher target="#[flowVars['source']]" doc:name="Message Enriche

[2015-02-26 07:17] utsavvishnoi opened #161 "How to use Logger in MUnit"
Hi I am working with MUnit and i am not able to  use Logger component with MUnit . Please help me to use Logger with MUnit Test cases.

![navh](https://cloud.githubusercontent.com/assets/4372935/6387702/962663ea-bdb5-11e4-8d8c-47611f192e06.png)

[2015-02-26 07:21] utsavvishnoi opened #162 "Spy is not Working in MUnit"
Hi I am working with MUnit and i am not able to get the desired output using SPY and MOCK . Please check the XML and let me know how to use this.

Below is the Link to get the code :
http://pastebin.com/Vk4sxt7T

[2015-03-02 09:26] tomwilding commented on #156
@damiansima any luck?

[2015-03-03 19:10] damiansima commented on #156
Hi @tomwilding

Sorry for the delay, lot's of busy days.

So I gave it a quick look and it looks like a bug in the way we count the MP in the coverage module.
I don't think this will be fixed this week but it's certainly on my radar and I'll try to fix this as soon as I finish some other stuff.

Thanks a lot for you patience, Cheers!

[2015-03-03 20:27] jasonchw opened #163 "how to mock database connector in java (and mule)"
Hi there,

I have a sub-flow using database connector, like the following code snippet,
[code]
can you tell me how can I mock it in java (and mule)?

Thanks,
Jason

[2015-03-04 23:22] jcbusta opened #164 "Can MUnit 3.5-M* work with Mule Server 3.4.0?"
I was wondering if the major.minor version (3.4 and 3.5 etc.) of munit is directly dependent to work with the equivalent version of the Mule server. Ie. Can I use MUnit 3.5 with Mule Server 3.4.0?

Thanks,

Juan

[2015-03-04 23:25] jcbusta opened #165 "Is sub-flow testing now supported in Java for later versions of MUnit?"
I know that in the following thread, https://github.com/mulesoft/munit/issues/45, that java didn't support sub-flow testing. That thread was made over 2 years ago, and in version 3.4 of munit. Does that still hold true for the latest versions of MUnit?

Thanks in advance,

Juan

[2015-03-06 06:38] mlrgoh opened #166 "getPayloadAsString throws TransformerException in munit 3.5-M3-SNAPSHOT"

[2015-03-06 06:38] NamusG opened #167 "Not Supporting intra VM connector - domains not supported"
Munit is not recognizing intraVM connector connector-ref="PQRVMConnector".
Will MUnit Supports this ?
Code snippet:
&lt;vm:outbound-endpoint   connector-ref="PQRVMConnector" exchange-pattern="request-response" path="VM_TEST" doc:name="VM_TEST"&gt;

[2015-03-06 19:55] damiansima commented on #162
Hi there,

For starters you're not telling the SPY  what MP to actually spy.
It should have at least an attribute like: messageProcessor=".*:.*"
If you choose to say that to spy you should then provide and attribute to match:
[code]

Please take a look at these wiki page: https://github.com/mulesoft/munit/wiki/spy-message-processors

[2015-03-06 19:55] #162 closed

[2015-03-06 20:22] damiansima commented on #163
Hi @jasonchw,

Not sure if you have checked other threads but just in case, db  connector mocking works since 3.5-M3-SNAPSHOT. So please use that version if you intend to do this.

That said, the DB connector is like any other connector so you just need to provide namespace, MP name, and if needed a particular attribute, and that's it.
Here is a quick example:

**Production Code**
[code]
**Test Co

[2015-03-06 20:22] #163 closed

[2015-03-06 20:51] damiansima commented on #164
Hi @jcbusta

There is a dependency between Munit and Mule core, and yes **IDEALY** you should be using the Munit version that matches the Mule core version.

You certainly **can not*** do Munit v3.5.x and Mule core v3.6.x, because that won't work.

Then again for the most part Munit is backward compatible, I actually just tested running all our integration test of 3.5.x agains a mule core 3.4.0 an

[2015-03-06 20:51] #164 closed

[2015-03-06 20:55] damiansima commented on #167
Hi @sumangalipelli

Could you please be more specific?
What kind of error are you seeing, is it on design or runtime that you see the error?
Can you share the error stack-trace if any?
Finally a more complete example, production code/test code will help a lot.

Cheers!

[2015-03-09 09:45] sumangalipelli commented on #167
Hi @damiansima
I am working on a POC of Munit to our project. Basically we work with multiple apps which communicates using IntraVMconnecter.
We are planning to write unit test cases using munit. please find poc below

This is my main flow with two  VM outbound endpoints one VM is in the same app in different flow and the other is in different app which can be able to communicate using connector-r

[2015-03-09 18:25] damiansima commented on #167
Hi @sumangalipelli,

Thanks a lot for the data it was really helpful.
So the key here is Mule Domains, and I'm sorry to say that currently Munit does not support Mule Domains.

I just opened a Jira so we can work on this for future releases of Munit, I'll this issue open so I can notify you guys when we fix the issue (but several things to solve before that one so please be patient) .

In the mid

[2015-03-09 19:01] cchilukoori commented on #163
Can you provide the example in Mule for mocking new database connector please?

[2015-03-09 19:23] damiansima commented on #163
Hi @cchilukoori ,

Sure please check, https://github.com/mulesoft/munit/blob/munit-3.5.x/munit-integration-tests/src/test/munit/db-connector-test.xml

I  still have to check your last issue #160, I just didn't want to answer it in parts I'll circle back to it though

[2015-03-09 22:22] jcbusta opened #168 "Testing Nested Subflows using Java for MUnit 3.4"
Hi,

I am using the Java flavour for MUnit, and in order to test subflows, I need to create a wrapper flow to call the sub-flow to test. However, it has created a bit of an issue. Please see the code below.

Wrapper Flow File
[code]
Flow File 2
[code]

MUnit Code
[code]

The issue that I'm having is that MUnit doesn't seem to mock flows that don't belong to the main flow. I keep seeing "this is a

[2015-03-10 04:36] jcbusta opened #169 "MUnit 3.4 Choice Router throwing NullPointerException when initializing subflow"
Hi,

I'm getting a NullPointerException when trying to run a sub-flow test using the Java flavour of MUnit. I've managed to pinpoint it down to the choice router that I have in the sub-flow by making the choice router the only message processor in the subflow. I've also walked through the code somewhat, and I managed to get some information from the debugger. Please see all of the relevant informa

[2015-03-10 04:41] jcbusta commented on #168
I'm closing this one because after some more digging, I know that you do support direct subflow testing, it is just that there is an error with the choice router. I've logged #169 as an issue to solve.

[2015-03-10 04:41] #168 closed

[2015-03-10 14:09] jcbusta opened #170 "MUnit 3.4 Mocked Flow-Ref not working if the reference is to a sub-flow"
Hi,

I'm having issues mocking a flow-ref if the reference is to a subflow. I've tried to have the subflow both in a separate flow file and in the same file as the flow with the reference, and they both yield the same result. The mock doesn't work. If I were to change the subflow to a flow, then the mocking works. Please see the code below. If you run the code, you should see "mocked message" in t

[2015-03-10 15:15] jcbusta commented on #170
Closing this as #33 mentions that you need the "contains" matcher in the "withValue" method as seen below.

[code]

[2015-03-10 15:15] #170 closed

[2015-03-10 20:38] cchilukoori commented on #160
I tried to run the unit test from here: https://github.com/mulesoft/munit/blob/munit-3.5.x/munit-integration-tests/src/test/munit/db-connector-test.xml

but it is tyring to talk to the database. Why is that? We are mocking the db:select.  I am using AnyPoint studio October 2014 release.

Here is the error I got:

'org.mule.api.MessagingException: java.sql.SQLException: Cannot get connection for UR

[2015-03-10 20:55] cchilukoori commented on #160
Never mind. I saw that it will work with only January anypoint release and new munit. I will try with that.

[2015-03-10 22:12] cchilukoori commented on #160
I am getting this error when running db_connector_test.xml :

Exception in thread "main" java.lang.RuntimeException: org.mule.api.config.ConfigurationException: Line 16 in XML document from URL [file:/Users/chaitanya/AnypointStudio/workspace/sample/target/classes/db_connector_test.xml] is invalid; nested exception is org.xml.sax.SAXParseException; lineNumber: 16; columnNumber: 65; cvc-complex-type

[2015-03-11 14:21] damiansima commented on #156
Hi @tomwilding,

I fixed the coverage issue. It will be there in one of the next releases of the Anypoint Studio plugin.
To give you a little bit of context, it was caused by the way the choice router processor chain (that is the chain of MPs inside the choice) is composed and created. Which was causing an error in the count of total MP and the ones the application went through.

Here you can see

[2015-03-11 14:21] #156 closed

[2015-03-11 16:12] jcbusta opened #171 "Can I debug a flow?"
Hi,

I was wondering if there was a way to debug a flow using MUnit as you would if the server was running. Can you please let me know?

Thanks,

Juan

[2015-03-11 18:50] damiansima commented on #160
Hi @cchilukoori

So please let me address the topics in this thread.

First, the AMQP connector use as outbound endpoint.
Due to the way the connector is coded and a gap in the functionality of Munit you won't be able to successfully mock the AMQP connector. This is, you will be able to mock the connector call but on Test start you will still need a valid AMQP server up and running. I  know this i

[2015-03-11 18:50] #160 closed

[2015-03-11 18:54] #152 closed

[2015-03-11 18:54] #149 closed

[2015-03-11 19:18] damiansima commented on #165
Hi @jcbusta

Yes you can certainly test (run) a sub-flow from a Munit java based test.
Here is an example:
**Production Code**
[code]
**Test Code**
[code]

Not sure when we add this feature but it's there since 3.5-M3-SNAPSHOT

[2015-03-11 19:18] #165 closed

[2015-03-11 20:44] damiansima commented on #166
Hi @mlrgoh,

Not really sure why it's working the client.send  for in 3.5-M2, I would need to see the whole app for that in order to replicate the problem (including which version of Mule and the APIKit you're using).

Regarding your problem in 3.5-M3, getPayloadAsString is actually a mule core method.
What seems to be happening is that the method doesn't know how to transform that particular payl

[2015-03-11 21:24] damiansima commented on #171
Hi @jcbusta,

Certainly you can do it, but only if your test is written in XML.
If you do that you will see that from Anypoint Studio you can debug an Munit test.

Cheers!

[2015-03-11 21:24] #171 closed

[2015-03-11 23:33] tomwilding commented on #156
Thanks @damiansima great work! Looking forward to increasing my test coverage percentage!

[2015-03-12 01:03] mlrgoh commented on #166
Hi @damiansima,

Thanks for looking into it.

I created a test mule app using 3.5.1 mule runtime just to test on both 3.5-M2 and 3.5-M3-SNAPSHOT. Here is the link to my test app: https://bitbucket.org/228619F/munit-flow-test. It is a public repository so you should be able to clone it.

The functional tests for my APIkit-based application will fail if I use 3.5-M2 so I used 3.5-M3-SNAPSHOT with Ap

[2015-03-12 20:42] cchilukoori opened #172 "Not able to run munit from AnyPoint studio"
I have installed Any Point Studio 2015 January release and MUnit 3.6.

I added munit test case to a existing file which is a maven project. When I try to run munit from studio (without maven), it give me this error: In the build path, I don't see Munit 3.6. How do I add it there?

Error: Could not find or load main class org.mule.munit.runner.remote.MunitRemoteRunner

I created another simple proj

[2015-03-13 14:01] damiansima commented on #161
Hi @utsavvishnoi,

If you're using Mule ESB 3.5.x that uses Log4j then you just need to throw a log4j.properties in the classpath. Something like this will do
[code]

Please notice the last line is the one for the logger message processor.

If you are using Mule ESB 3.6.x, I just discover an small issue there. There is no easy(or nice ) way to do so. Once the guys in the ESB solve the problem I'll

[2015-03-13 14:01] #161 closed

[2015-03-13 14:14] damiansima commented on #172
Hi @cchilukoori

This is a but on the Munit Studio plugin that has already been solved but not released.
This solution is a hack and hopefully you won't have to do this in the near future but just to get you up and running.
Please verify that you have the following lines in your .classpath file:
[code]

Cheers

[2015-03-13 15:11] cchilukoori commented on #172
Yes I have them in my .classpath file.

Here is my file:

<?xml version="1.0" encoding="UTF-8"?>
<classpath>
	<classpathentry exported="true" kind="con" path="MULE_RUNTIME"/>
	<classpathentry kind="con" path="org.eclipse.jdt.launching.JRE_CONTAINER"/>
	<classpathentry kind="src" path="src/main/java"/>
	<classpathentry kind="src" path="src/test/munit"/>
	<classpathentry kind="src" path="src/test/ja

[2015-03-17 09:39] NamusG opened #173 "Spring-beans jar version conflict"
Hi, we are using Hibernate in mule apps which is built on Mule 3.5.2. Now  we are implementing Munit for the same.
Munit is working fine for our normal flows. Its started failing once after configuring hibernate. as per my analysis. I found its failing due to the conflict of Spring-beans jars  version.
even after loading Spring-beans 3.2.10 version to class path it is refering to Spring-beans 3.2.

[2015-03-18 14:52] damiansima commented on #166
Hi @mlrgoh,

So I tested your code with:
<mule.version>3.5.1</mule.version>
<munit.version>3.5-M3-SNAPSHOT</munit.version>

And the tests, both xml and java worked just fine.
A couple of disclaimers though, I had to replace the amqp mp as I can connect to the amqp instance and it was failing but the mocking effect should be the same.

In you java test the message payload you where sending was plai

[2015-03-18 15:12] damiansima commented on #172
Hey sorry for the delay.

So you say you have those line in your classpath, but do you have it in the first or in the second project?

In any case could you please send me the classpath of the failing project (the project as a whole will be better though).

But as I said this is a bug in the Munit studio plugin and it's been fixed already, I just want to validate there is nothing else hidden there

[2015-03-18 17:36] damiansima commented on #173
Hi @NamusG,

Not sure what can be the cause of this. You are correct that spring beans may be a conflict as you had in your log

[code]
And also:
[code]

Version 3.2.10 is the one MUnit uses, but only as a transitive dependency that comes from:
[code]

That said I run you pom file in my laptop and I couldn't manage to get the same issue. Maybe Maven version has something to do with it, as differen

[2015-03-18 18:02] cchilukoori commented on #172
Yes I have both of them on the project that is having issues. After adding the below line, it started working. Now I am able to run the test cases.

<classpathentry kind="con" path="MUNIT_RUNTIME"/>

[2015-03-18 18:02] #172 closed

[2015-03-19 22:20] cchilukoori opened #174 "How to mock message inbound property"
Hi,

How can I mock message inbound property. Here is my flow:

<flow name="_ingest_clearleap" doc:name="Ingest Clearleap" processingStrategy="synchronous">
        <file:inbound-endpoint path="${farallon.path.partner.watch.clearleap}" moveToDirectory="${farallon.path.metadata.working}" pollingFrequency="${farallon.rsc.watchFolderMonitorFrequency}" fileAge="${farallon.rsc.minFileAge}" responseTime

[2015-03-20 19:24] cchilukoori commented on #174
I got it working by using munit:inbound-property on payload.

[2015-03-20 19:24] #174 closed

[2015-03-25 18:53] damiansima commented on #174
Great !

[2015-03-26 16:04] Villu opened #175 "Various xpath expressions find several transformers"
Using Mule 3.6 and Munit 3.6.0-BETA1-SNAPSHOT, xpath() evaluators and xpath functions such as "contains" (xpath3() seems to be ok) give the following error:

Exception stack is:
1. There are two transformers that are an exact match for input: "class java.lang.String", output: "interface org.dom4j.Document". Transformers are: "xmlToDom(class org.mule.module.xml.transformer.XmlToDomDocument$$Enhance

[2015-04-02 09:42] sleone opened #177 "Scatter-gather with custom-aggregation-strategy"
Hi,
I recieve the following error if I try to use a custom-aggegation-strategy in a scatther-gather processor:

`nested exception is org.springframework.beans.factory.BeanDefinitionStoreException: Unexpected exception parsing XML document from class path resource [users.xml]; nested exception is org.mule.config.spring.parsers.processors.CheckExclusiveAttribute$CheckExclusiveAttributeException: The

[2015-04-06 14:16] damiansima commented on #177
Hi there @sleone ,

I've just create an example of that and it seems to be working just fine, please check bellow:
**Production Code**
[code]
**Custom Aggregator**
[code]

**Test Code**

[code]
Then again, I guess you're trying to do something different. Could you please share your code ?
Cheers!

[2015-04-06 14:54] damiansima commented on #175
Hi @Villu,

Could you please share your whole project (pom file included), so I can reproduce this?
After a quick review I can't reproduce it nor I can find the posible root cause of this.

Cheers!

[2015-04-06 14:55] #173 closed

[2015-04-06 14:55] #169 closed

[2015-04-06 14:56] #153 closed

[2015-04-06 14:57] #151 closed

[2015-04-06 20:40] cchilukoori opened #178 "Mocking amqp connector is not working"
Hi,

I have the below munit test file:

<?xml version="1.0" encoding="UTF-8"?>

<mule  	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  	xmlns:mock="http://www.mulesoft.org/schema/mule/mock"
  	xmlns:munit="http://www.mulesoft.org/schema/mule/munit"
  	xmlns="http://www.mulesoft.org/schema/mule/core"
  	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
  	xmlns:script="http://w

[2015-04-06 20:42] cchilukoori commented on #178
globals_ipvod.xml:

<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:core="http://www.mulesoft.org/schema/mule/core" xmlns:smtp="http://www.mulesoft.org/schema/mule/smtp"
	xmlns:data-mapper="http://www.mulesoft.org/schema/mule/ee/data-mapper" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:jdbc-ee="http://www.mulesoft.org/schema/mule/ee/jdbc"
	xmlns:vm="http://www.mulesoft.org/schema/m

[2015-04-06 20:42] cchilukoori commented on #178
and this is the error I am getting when I try to run the unit test:

Exception in thread "main" java.lang.RuntimeException: org.mule.api.config.ConfigurationException: Configuration problem: Failed to import bean definitions from relative location [mock-connectors.xml]
Offending resource: URL [file:/Users/chaitanya/Desktop/workspace/farallon/farallon/bin/globals_common_test.xml]; nested exception

[2015-04-06 20:43] cchilukoori commented on #178
I haven't put my test case yet. All I am trying is mocking the amqp connector. But it looks like it is trying to start the connector from ipvod.xml and mock-connector.xml.

[2015-04-07 16:38] damiansima commented on #178
Hi there,

Although you are able to mock the AMQP connector, the code of this connector is doing some stuff during it's initialisation, over which MUint (currently) has no control. That is, the AMQP connector tries to establish a connection to a server on startup, if such server is not there then the initialisation will fail.

If you provide a working AMQP server, you can still mock the connector,

[2015-04-07 16:57] cchilukoori commented on #178
I have RabbitMQ server up and running on my machine.

Why is it trying to start the connector twice…one from globals_ipvod and another one from mock-connector xml?

If it is easy, please provide a working sample of amqp mocking code.

[2015-04-09 15:06] sleone commented on #177
Hi @damiansima,
I tried to run your code and the result is the same error.

I'm using Mule 3.5.2 with Munit 3.5-M2.

Thanks for your help

[2015-04-13 20:29] damiansima commented on #177
Hi @sleone,

That changes things :P

So there was but in Mule 3.5.2, the one you reported. It was reported a few months ago and they fix it.

But they fix it in Mule 3.5.3 (which will be release) and in 3.6.x.
That's why it was working correctly for me I was using Mule 3.6.1 where the bug is also fixed as I said.

So the options you have hear are to move to a newer version of Mule. Either wait for

[2015-04-17 10:55] jonathanlockekaplan opened #179 "Running MUnit tests via Maven fails but in Studio they run ok"
Hi Fernado

I'm having a very similar issue to the below
https://github.com/mulesoft/munit/issues/173, however, this has not help solve my problem.

When I run my tests via Anypoint Studio (Anypoint Studio October 2014 Release, Version: 4.1.1,
Build Id: 201411041003, on Windows 7 64 bit) they run ok (and pass). However, when I run the cmd: -

mvn clean test -Dmule.env=dev

the build fails (below I

[2015-04-17 14:46] cchilukoori commented on #178
Any update on this? If you can please  provide a sample example, I will implement in this same way to continue writing my tests.

[2015-04-26 16:26] vikramuppala commented on #179
you should have mule licence to run the munit for maven.

[2015-04-27 17:48] jonathanlockekaplan commented on #179
Thanks for the comment

I have mule-ee-license.lic and muleLicenseKey.lic in both src/main/resources and src/test/resources

but i still get the error, what do you suggest?

Cheers

[2015-04-29 03:35] reynold-lariza commented on #179
I encountered this yesterday as well. After spending hours and wrecking our brains, one of my mates was able to solve it.

In your environment (e.g., .bash_profile, etc) make sure you have this:

[code]

Now I can freely run my tests thru terminal (mvn clean test)

[2015-04-29 13:44] jon-elliott opened #181 "Problem Running MUnit Test from Maven"
When i call mvn test -Djava.util.prefs.PreferencesFactory=com.mulesource.licm.pref.MulePreferencesFactory

I get the following error
[ERROR] Failed to execute goal org.mule.munit.tools:munit-maven-plugin:3.6.0-BETA:test (test) on project arm_inbound_flow: Execution test of goal org.mule.munit.tools:munit-maven-plugin:3.6.0-BETA:test failed: org.mule.api.config.ConfigurationException: Error creatin

[2015-04-29 15:37] jonathanlockekaplan commented on #179
Hi Reynold

Thanks for the reply!!

That doesn't work for me :( will that be the same on Windows?

Cheers

[2015-04-29 18:22] damiansima commented on #181
Hi @jon-elliott

I've never seen such an error before.
If it were a lic error you should have a more descriptive message. Anyways if there is a no class def found it may be something with the classpath.

You missing class is in:
[code]
Could you please make sure you have that on your pom ?

If that doesn't work would you mind sharing your code so I can take a look at?

Cheers!

[2015-04-29 18:31] damiansima commented on #179
Hi @jonathanlockekaplan

After some googling it seems the issue is more related to maven than to MUnit it self.

What maven version are you using ?

Cheers!

[2015-04-29 18:32] jonathanlockekaplan commented on #179
Hi

I'm using version 3.2.1

[2015-04-29 18:34] damiansima commented on #179
Would you mind trying to downgrade to an older version?

I'm running 3.0.5, please let me know if that works.

Cheers!

[2015-04-29 18:36] jonathanlockekaplan commented on #179
Ok, I'll try that tomorrow, do you know roughly what the issue is around?

[2015-04-30 08:42] jon-elliott commented on #181
Hi, Thanks for the information - i have added the dependency and now I have the same problem as issue #94. I am using Munit 3.6.0-BETA and i do not have a subflow - i refer to a mock config file that allows me to mock the AMQP connector information.

	<munit:config name="munit" doc:name="Munit configuration" />

	<mock:config name="mock_arm_inbound_flow" doc:name="Mock configuration" />

	<spring:

[2015-04-30 13:30] abhusari opened #182 "Testing flow with http inbound endpoint"
I am trying to write munit test for flow which has http inbound endpoint, I haven,t found anything related to  inbound endpoint. I am testing following simple flow. This is not the intented flow but basic issue is with the http inbound endpoint. Please suggest me how to work with it.
![untitled](https://cloud.githubusercontent.com/assets/3222631/7413618/ee213f5c-ef6a-11e4-91d7-b4f5f9225697.jpg)

[2015-04-30 14:49] damiansima commented on #182
Hi @abhusari,

Could you please be a little bit more specific?

Are you trying to hit the http inbound endpoint from your MUnit test or just trigger the flow regardless the way?

In the first case you can just use an http outbound endpoint (or http request depending on the mule version).

If not you will be just as well with a flow ref.

That said, if you chose the first option bear in main that b

[2015-04-30 15:54] ajung opened #183 "Testing mule ee features with munit and maven"
Hi

i want to test ee features with munit but i get the exception:
java.lang.RuntimeException: Invalid license
I am a ee customer and have a licene file located here:
src/test/resources/muleLicenseKey.lic

[2015-04-30 23:00] damiansima commented on #183
Hi @ajung ,

Please make suer that src/test/resources is part of the classpath
[code]

Cheers!

[2015-04-30 23:03] damiansima commented on #181
Right, so I fail to see the actual error you're getting.

Could you please copy the stack trace you're getting?

Cheers!

[2015-05-04 02:55] reynold-lariza commented on #179
Here is mine:
[code]
yeah, I am in OSX... in your Windows machine, can you echo what's the content of your JAVA_HOME? it should point to your java_home installation or something similar.

[2015-05-04 12:30] abhusari commented on #182
Hi,
Thanks for the help. Flow reference worked for me. Just added the set payload before flow reference.

[2015-05-04 12:30] #182 closed

[2015-05-04 12:33] abhusari opened #184 "Skipping th Munit test at the time of maven build"
Hi,

I am having both Junit and Munit testcases. Is there any way to skip Munit test cases only. I have tried "mvn clean package -DskipTests", but it skips both Junit and Munit testcases.

[2015-05-04 12:37] ajung commented on #183
Hi @damiansima
thank you for the response, but i have the src/test/resources in my classpath and it is still not working.

[2015-05-04 13:48] damiansima commented on #184
Hi @abhusari,

MUnit maven plugin hocks to the same property that the one offered by maven that is -DskipTests.
So if you add that to your command line it will always skip both, there is no way to skip one but not the other from the command line.

Another thing that may help you though is to ignore each MUnit test. I know it's a pain but at least it'll get you going.

Cheers!

[2015-05-04 13:53] damiansima commented on #183
Well if you have everything in place, the other thing I can think of is the lic file.

You see the license  checking is not actually MUnit is rather Mule building from maven, as long as the correct lic file is in the classpath you should be ok so the only other thing may be the lic file.

Just to be sure try placing the file in src/main/app (just for testing) if that still doesn't work please chec

[2015-05-04 17:54] cchilukoori opened #185 "Creating account on mule beta portal"
Hi,

Can you please create an account for me on beta portal so that I can attach files while opening a ticket? email address: chaitanya.chilukoor@echostar.com

Thanks,
Chaitanya.

[2015-05-04 18:03] damiansima commented on #185
Hi there,

We just re send you the invite could you please check your inbox for a Mulesoft beta email?

Cheer!

[2015-05-04 18:03] #185 closed

[2015-05-05 09:00] jon-elliott commented on #181
Sorry for the delay - was on leave. Here is the stack trace:

[INFO] Scanning for projects...
[WARNING]
[WARNING] Some problems were encountered while building the effective model for com.capgemini.immediate:arm_inbound_flow:mule:1.0.0-SNAPSHOT
[WARNING] 'dependencies.dependency.(groupId:artifactId:type:classifier)' must be unique: com.mulesoft.muleesb.modules:mule-module-boot-ee:jar -> duplicate

[2015-05-05 09:28] ajung commented on #183
Hi

i try to place the lic file in src/main/app, and it still not working. I can build my project with maven and run it on a enterprise mule.
I think that munit start a mule server inside the maven run. In this starting process, there yould be a point where the licence should be installed.
In my production enviroment i call  -installLicense on mule.

[2015-05-05 11:37] jon-elliott commented on #183
I had this problem - have you validated your licence ? If so you licence file will be called muleLicenceKey.lic - if you put this is src/main/resources it should all be loverly jubberly and work a treat.

[2015-05-05 13:58] ajung commented on #183
So i just solve the problem. There are two version of lic files. The original mule-ee-licence.lic and the muleLicenceKey.lic which is a xml file. I have to use the xml file.

[2015-05-05 13:58] #183 closed

[2015-05-05 13:59] damiansima commented on #181
Hi @jon-elliott,

By any chance do you have XML files that are not MUnit test suite files in your src/test/munit folder?

[2015-05-05 15:56] jon-elliott commented on #181
You are a star  - moved the other stuff out - fiddle with the pom and bobs your brothers uncle.
Ta

[2015-05-05 15:56] #181 closed

[2015-05-05 18:55] cchilukoori commented on #185
For some reason, I am not getting the email. Can you please send it to sreetanya@gmail.com

[2015-05-05 19:06] damiansima commented on #178
Hi there, sorry for the delay didn't see this.

If you which to mock AMQP MP call it's the same as with any other MP here is a snippet
[code]

If you have the rabbitmq running and this mock in place and still keeps failing I'll refer you to my previous comment, there seems to be a duplicated bean id in your xml configuration you have to locate that one and take it out.

HTH

[2015-05-06 05:39] abhusari commented on #184
Thanks

[2015-05-06 05:39] #184 closed

[2015-05-08 20:20] #177 closed

[2015-05-08 20:20] #167 closed

[2015-05-13 19:09] damiansima commented on #179
Hi @jonathanlockekaplan,

During some POC with MUnit and newer versions of Mule I was able to reproduce this issue.
Just FYI it was a Dependency Hell related issue.

I was able to clean up several pom across multiple munit modules and the issue got solved.
The fix will be there in next version of munit, probably 3.7.x.

Thanks a lot for the feedback.
Cheers, Damian.

[2015-05-13 19:09] #179 closed

[2015-05-15 16:14] jonathanlockekaplan commented on #179
Hi @vikramuppala

Thanks for finding the problem.

I was at the Mule Summit yesterday and in the Q&A session afterwards I had it confirmed that MUnit was to be on GA at the end of June (I'm assuming you're involved with this). Given that, I'll be raising the other bugs I've found it an upcoming issue... so look out!

[2015-05-15 18:16] jonathanlockekaplan opened #186 "MUnit General Bugs"
Hi @damiansima

As mentioned in #179 I'm going to list the other bugs I've found with MUnit. I hope you can fix these before GA.

Firstly, I'm on a PC with Windows 7, 3.40GHz with 8 cores and 24GB RAM, so it's no slouch and my Anypoint ini file looks like this: -

-startup
plugins/org.eclipse.equinox.launcher_1.3.0.v20120522-1813.jar
--launcher.library
plugins/org.eclipse.equinox.launcher.win32.wi

[2015-05-18 15:42] damiansima commented on #186
@jonathanlockekaplan, thanks a lot for the feedback this is really helpful for us.

Please let me address each of your points.

* 1, 2 and 3 I'll try to reproduce I know debugger may be temperamental  but it could take some time to reproduce
* The point 4 you mention I'm sorry to say it work as expected. You see, the before test scope is meant to run before and every time a MUnit test runs. There

[2015-05-19 17:25] jonathanlockekaplan commented on #186
Hi @damiansima

Thanks for taking the points on board.

For point 4, perhaps changing it to "Before Tests" would be more accurate then :)

For point 5, were you fully mocking the http inbound endpoint with

[code]

?

I'm making the assumption that you work at MuleSoft, if so, please take a look at my support ticket 00020228 which has the project uploaded to.

For the code coverage, it only every

[2015-05-21 16:07] damiansima commented on #186
Hi  @jonathanlockekaplan ,

Thanks again for the feedback.

As a general comment some of the issues you're describing seems to be cause by the use of an old version of the MUnit Studio plugin. But as we haven't released a new one that's expected.

* I'll try to reproduce the coverage issue, but so far no luck.  There is a chance it got already fix.
* I'll try to find your support ticket
* The mave

[2015-05-28 21:29] damiansima commented on #186
@jonathanlockekaplan

Just FYI several, maven related and runner/debugger issues have been fixed.
I hope you'll be gladly surprise with the improvement of the Anypoint Studio plugin.

I manage to get your project and after a few necessary changes to the code (in the tests and the pom) the tests seems to be running. Falling but that may be logic which I'm not going to validate.

I still can't repro

[2015-06-04 09:40] ullgren opened #188 "Generate test coverage report"
It would be great if the munit maven plugin could generate test coverage reports, similar to what surefire does for junit tests. This way CI tools like Jenkins or QA tools like SonarQube could pick up and visualise the coverage as part of the test analytics.

[Related forum post](http://forum.mulesoft.org/mulesoft/topics/to-know-the-test-coverage-of-mule-unit-tests-munits-written-to-test-mule-flow

[2015-06-05 13:34] VikramAhuja opened #189 "Subflow with Async call gives error while running munit"
Hi,

we have a folowwing sub flow with Async call

<sub-flow name="xxx-subflow">
.....
<async doc:name="Async">
            <flow-ref name="yyy-create-subflow" doc:name="yyy-create-subflow"/>
</async>
</sub-flow>

so when we run the munit

MuleEvent result = runFlow("xxx-subflow", testEvent(message));

for this sub flow we get following error

java.lang.IllegalArgumentException: FlowConstruct cann

[2015-06-05 13:44] damiansima commented on #189
Hi @VikramAhuja,

We are aware of this problem and we have an open issue to fix it.
I can offer a work around though.

If you are willing to code your test in XML the problem should solve it self. If not the only other work around is to have a flow (not a sub-flow) with a flow-ref to you actual sub-flow.
Finally instead of running your sub-flow from your test you'll have to run you flow.

I know i

[2015-06-05 13:47] VikramAhuja commented on #189
@damiansima
Thanks for your response.

can you tell me in which release this issue with get fixed? any planned release?

[2015-06-05 13:49] damiansima commented on #189
Future release(?)
It's on the pipeline but I don't have a firm date just yet, I'm sorry.
We have other, more pressing, issues to deal with before this one.

[2015-06-05 13:50] VikramAhuja commented on #189
ok. can you give me issue number so that i can keep a track on it?

[2015-06-05 13:51] damiansima commented on #189
Sure:  https://www.mulesoft.org/jira/browse/MU-260

[2015-06-05 13:55] VikramAhuja commented on #189
thanks. can you link this issue witn MU-260? i can not do it so asking you to do it.

[2015-06-09 09:03] henrik-karlsson opened #190 "Objects annotated with @Rule doesn't get called in the correct order"
When implementing a test case extending FunctionalTestCase all objects annotated with @Rule get called before Mule is started, but when I implement a test case extending FunctionalMunitSuite all @Rule objects is called after Mule has started

[2015-06-09 15:39] jon-elliott opened #191 "Mock SFTP Endpoint"
I am trying to mock an SFTP outbound endpoint - i have followed the FTP-server documentation but it appears outdated as the dependency in 3.6.0 is now module based.
Every time i try to test the flow i get an exception:
Exception stack is:
1. Cannot process event as "SFTP" is stopped (org.mule.api.lifecycle.LifecycleException)
  org.mule.lifecycle.processor.ProcessIfStartedMessageProcessor:38 (http

[2015-06-09 15:53] jon-elliott opened #192 "MUnit not running in Anypoint studio"
Every time i try to run an munit from within anypoint studio i get the following error:
Connected to localhost in port 63444
SLF4J: Class path contains multiple SLF4J bindings.
SLF4J: Found binding in [jar:file:/Applications/AnypointStudio/plugins/org.mule.tooling.server.3.6.2.ee_5.1.1.201504092115/mule/lib/boot/log4j-slf4j-impl-2.1.jar!/org/slf4j/impl/StaticLoggerBinder.class]
SLF4J: Found bindin

[2015-06-11 16:11] davemcgowan opened #193 "Munit attempting to update POM file even though Anypoint option to manage POM is disabled"
after installing Munit, my POM file was not working, so I disabled the automatic POM managemet, reset and added the dependancies and plugins manually.

However - I'm still seeing the following message. It sometimes happens when I make changes to the POM file, but I've also seen it when running the mule app.

[2015-06-15 11:56] jon-elliott commented on #192
Update : Ditched (is there) Anypoint studio and use the plugin in eclipse luna its a bit more stable.

[2015-06-15 11:56] #192 closed

[2015-06-15 11:57] jon-elliott commented on #191
Update: didn't use the SFTP module of munit - i ran i could connect to it but Mule ignored it. I think mule was being a bit and an ass. So i just mocked the endpoint instead.

[2015-06-15 11:57] #191 closed

[2015-06-16 05:50] alex-fernandez opened #194 "Munit not working on using EE Features on 3.6.0-BETA"
I am trying to use MUnit in 3.6.0-BETA on Runtime 3.6.1, but we encountered this error.  It seems that MUnit is not working if EE features capability has been added like batch.

Tests run: 2, Failures: 0, Errors: 2, Skipped: 0, Time elapsed: 0.2 sec <<< FAILURE!
testSendSMS(SendSMSTest)  Time elapsed: 0.006 sec  <<< ERROR!
java.lang.NullPointerException
	at org.mule.munit.runner.functional.Functio

[2015-06-16 12:48] damiansima commented on #194
Hi @alex-fernandez,

The stacktrace doesn't really suggest that. But let's clarify.

It's not MUnit it self that will prevent you from running tests over applications that are using EE features (like batch) but rather Mule (which MUnit uses). Up until 3.6.0-BETA it is the users responsibility to provide a valid license (for instance leaving it in the project classpath) so license validation doesn'

[2015-06-16 12:50] damiansima commented on #193
Hi @davemcgowan,

We are aware of this issue. I'm sorry about that :(

The problem is in our Mule Studio plugin, and we have already taking care of it. You shouldn't see that on the future.  Thanks for reporting it .
Cheers, Damian.

[2015-06-16 12:50] #193 closed

[2015-06-16 12:52] damiansima commented on #188
Hi @ullgren ,

Thanks for the feedback, many people have ask for a similar feature and we certainly are considering it.
We'll let you know when we have something for you guys to try out.

[2015-06-23 16:18] cchilukoori opened #195 "Integrating munit inot Maven"
Hi,

I am trying to integrate my munit test cases into Maven. Which version should I use? if I give this, it is failing?

<munit.version>3.5-M3-SNAPSHOT</munit.version>

Can you please help?

Thanks,
Chaitanya.

[2015-06-23 18:45] cchilukoori commented on #195
Here is the error I am getting:

[ERROR] Failed to execute goal org.mule.munit.tools:munit-maven-plugin:3.6.0-BETA:test (default) on project farallon: Execution default of goal org.mule.munit.tools:munit-maven-plugin:3.6.0-BETA:test failed: A required class was missing while executing org.mule.munit.tools:munit-maven-plugin:3.6.0-BETA:test: org/mule/config/spring/MuleArtifactContext
[ERROR] ------

[2015-06-24 00:50] alex-fernandez commented on #194
@damiansima I already added the license on the classpath and the issue still persists. I have tried excluding the flows without the batch feature and it works well.

Here is the stacktrace when the batch is used.

-------------------------------------------------------------------------------
Test set: SendSMSTest
-------------------------------------------------------------------------------
Test

[2015-06-24 01:13] alex-fernandez commented on #194
@damiansima here is the flow, nothing special about it.
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:batch="http://www.mulesoft.org/schema/mule/batch" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.6.1

[2015-06-28 21:32] nikolaiblackie commented on #193
Can you confirm the date when this fix is scheduled for release? We can't run our MUnit tests in CI because of it.

[2015-06-28 21:46] karlignatius commented on #193
I see that a new branch was created 3 days ago. Would this branch contain the fix mentioned above?

[2015-06-28 21:51] damiansima commented on #193
Hi guys,

I understand the frustration.
The source of this issue lies not in MUnit core source code, but in the MUnit Studio Plugin.
A release of that is schedule to be out in a few weeks.

Please be patient
Cheers!

[2015-06-29 05:08] karlignatius opened #196 "Executing mUnit tests in Anypoint Studio 5.1.2"
I have an application where the mUnit test execute correctly in Anypoint Studio 4.1.1, Mule EE, 3.5.1 EE and mUnit Runtime 3.4-M2)

I open this application in Anypoint Studio 5.1.2, Mule 3.5.1 EE and mUnit Runtome 3.5-M3-SNAPSHOT) and get the following errors when trying to execute my mUnit tests:

Configuration problem: Failed to import bean definitions from URL location [classpath:iag.mule.cpf.x

[2015-06-29 18:25] damiansima commented on #196
Hi @karlignatius ,

I would advise, as a first step, to upgrade to MUnit 3.5-M3-SNAPSHOT as it seems to be a compatibility error.
On the other hand the error it self seems to be related to one of your classes ProjectProperties.class.
The error it self is not quite descriptive though :(

[2015-06-29 20:52] karlignatius commented on #196
Hi

Anypoint Studio by default uses MUnit 3.5-M3-SNAPSHOT (see my original log). Is there anything else I can try? Just a a note, Before I received the error above, the code complained about another class. I removed it and now it is complaining about ProjectProperties.class. I am sure if I removed the ProjectProperties.class it will complain about next one in the package.

[2015-06-29 20:57] damiansima commented on #196
@karlignatius, would you mind sharing your code?

FYI you can mavenize the code and tell the project and change the MUnit runtime

[2015-06-29 22:03] cchilukoori commented on #195
I trie dusing a different version but same error:

[ERROR] Failed to execute goal org.mule.munit.tools:munit-maven-plugin:3.5-M3-SNAPSHOT:test (default) on project farallon: Execution default of goal org.mule.munit.tools:munit-maven-plugin:3.5-M3-SNAPSHOT:test failed: A required class was missing while executing org.mule.munit.tools:munit-maven-plugin:3.5-M3-SNAPSHOT:test: org/mule/config/spring/M

[2015-06-29 22:06] cchilukoori commented on #195
Here is my POM:

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/maven-v4_0_0.xsd">

	<modelVersion>4.0.0</modelVersion>
	<groupId>farallon</groupId>
	<artifactId>farallon</artifactId>
	<packaging>mule</packagi

[2015-06-30 20:40] #195 closed

[2015-06-30 20:44] cchilukoori opened #197 "Unit tests are failing when running using Maven"
When I run my unit tests, I am seeing the below error: I have this in my test class, I am not sure why it is complaining: [classpath*:ingest_ipvod_clearleap.xml]

[ERROR] Failed to execute goal org.mule.munit.tools:munit-maven-plugin:3.6.0-BETA:test (test) on project test-munit: Execution test of goal org.mule.munit.tools:munit-maven-plugin:3.6.0-BETA:test failed: org.mule.api.config.Configuration

[2015-07-01 20:54] karlignatius commented on #196
I have not had feedback on sharing the code, but I will first have a look if I can solve this problem using Maven.

[2015-07-02 13:55] damiansima commented on #194
The only thing I can think about is that the lic you have is either wrong or has no entitlements for batch.

Sometimes people get confused about which license file to use.
After you get the license and follow these steps to install it: https://developer.mulesoft.com/docs/display/current/Installing+an+Enterprise+License

A new file is left in your $MULE_HOME/conf folder. That's the license file you

[2015-07-02 14:22] damiansima commented on #190
Hi @henrik-karlsson,

After checking the code I see the cause of the behaviour you're seeing.
In the case of the FunctionalTestCase the Mule context is created in a method annotated with @Before This means that, by default, the Mule context is create per each test run which is a very expensive thing to do.

MUnit does so in the constructor of the class FunctionalMunitSuite it may be less versatile

[2015-07-08 07:40] rewolf opened #198 "Finding the branch for a given artifact, (eg. 3.6.0-RC1-SNAPSHOT)"
I'm experiencing a bug in MUnit `3.6.0-RC1-SNAPSHOT`, which only seems to happen in a specific case.
I haven't been able to repro it yet with a simple example, so I thought I'd dig into some code to understand what's going on.

How do I find the corresponding commit from which the `3.6.0-RC1-SNAPSHOT` artifact was built?

[2015-07-08 11:48] NamusG opened #199 "Failed to evaluate XPath expression: "//*[local-name()='FirstName']/text()""
Hi, I am using Munit 3.5-M3-SNAPSHOT version.
When I tried to evaluate xpath expression, munit failed by throwing an error.
Please help me out here. we are planning to write testcases for our existing code. we have used similar type xpath expression in many places in our existing code.

Thanks in Advance!!

Provide a POC below

Here is my mflow file.
[code]

And my Java test case is

[code]

Here

[2015-07-09 02:59] rajkumar79 opened #200 "Migration to 3.6.2 with Munit 3.4-M5 throwing errors"
We are migrating to the 3.6.2 version of ESB and we are using Munit version 3.4-M5 and we running into build failures when you do a maven install.

Mulesoft Ticket
https://na29.salesforce.com/5003400000jeTpO

Errors

[INFO] ------------------------------------------------------------------------
[INFO] BUILD FAILURE
[INFO] ------------------------------------------------------------------------
[I

[2015-07-09 04:55] rajkumar79 commented on #200
I also tried building the munit 3.6 beta version , but running into errors.

[ERROR] Failed to execute goal on project munit-integration-tests: Could not resolve dependencies for project org.mule.munit:munit-integration-tests:mule:3.6.0-BETA: Failed to collect dependencies for [org.mule:mule-core:jar:3.6.0 (provided), org.mule.modules:mule-module-spring-config:jar:3.6.0 (provided), org.mule.module

[2015-07-09 09:07] NamusG commented on #199
Hi, I have ran your test case in the below link and fallen in to same issue :(
https://github.com/mulesoft/munit/blob/munit-3.x/munit-integration-tests/src/test/munit/mclient-test.xml
I am using Mule 3.5.2 runtime!! is that the problem??

[2015-08-07 06:05] mlrgoh opened #201 "munit test failed on command line"
I'm using Anypoint Studio 5.2.1 with MUnit Plugin installed and the munit version I used is 3.6.0-RC2. My xml-based munit test works fine in Studio but it failed to run thru "mvn test" command line.

The following shows the error run munit test on command line:

**********************************************************************
* Mule ESB and Integration Platform *
* Version: 3.6.2 Build: 2243

[2015-08-13 19:53] sivam1 commented on #150
How can we mock JMS end-point without running ActiveMQ?. The above solution needs ActiveMQ broker to be running.

[2015-08-19 13:34] henrik-karlsson commented on #190
Hi,

We have build a Rule class called EmbeddedActiveMQBroker that sets up an vm embedded ActiveMQ broker that is configured with persistent=false and with a deadletter policy 'DLQ.*'. Because ActiveMQ automatically creates an embedded broker then using  vm://localhost the default broker is created then Mule starts with with MUnit happens before EmbeddedActiveMQBroker is executed. The default brok

[2015-09-22 14:41] sivam1 opened #202 "mvn package issue with MUnit files"
Hi I am getting below error when I do mvn package -Dmaven.test.skip=true.

[INFO] ------------------------------------------------------------------------
[ERROR] Failed to execute goal com.mulesoft.munit.tools:munit-maven-plugin:1.0.0:test (test) on project process-api: Execution test of goal com.mulesoft.munit.tools:munit-maven-plugin:1.0.0:test failed: org.mule.api.config.ConfigurationException

[2015-09-27 18:20] quddoos commented on #199
Try using  includeConfigNamespaces="true"   and fn:local-name().